.acf-field {
    &.language-css,
    &.language-js {
        textarea {
            font-family: Consolas, 'SF Mono', Inconsolata, Monaco, monospace;
        }
    }
}

.wp-list-table {
    tr.status-draft,
    tr.status-private {
        opacity: 0.75;
    }

    &.fixed {
        .column-categories,
        .column-tags {
            width: 10%;
        }

        .column-title:not(:hover),
        .column-tags:not(:hover) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
