.editor-styles-wrapper {
    background: var(--global--color-background);
    color: var(--global--color-primary);

    :is(ul, ol) {
        margin: 0;

        li {
            margin: 0 !important;
        }
    }

    s {
        opacity: 0.69;
    }

    del {
        background-color: #e6999966;
        color: inherit;
        text-decoration: none;
    }

    ins,
    mark {
        background-color: #99e69966;
        color: inherit;
        text-decoration: none;
    }

    figcaption,
    p.caption {
        color: var(--global--color-primary);
        opacity: 0.69;
    }

    :is(p, ul, ol):not(.text-align-left) {
        hyphens: auto;
        text-align: justify;
    }

    :is(p, ul, ol, td) {
        code, kbd {
            background-color: color-mix(in srgb, currentColor 20%, transparent);
            color: var(--wp--preset--color--pale-cyan-blue);
            padding-left: 0.25em;
            padding-right: 0.25em;
            position: relative;
        }
    }

    @media (min-width: 104ex) {
        .wp-block:has(> .alignmid) {
            max-width: 100ex !important;
        }
    }

    p.note {
        background: rgba(102, 102, 140, 0.2);
        padding: 1em;
        padding-top: 0.9em;
        position: relative;
    }

    .wp-block {
        /* font-family: Consolas, 'SF Mono', Inconsolata, Monaco, monospace !important; */
        /* font-size: 1rem !important; */
        /* line-height: 1.42 !important; */

        font-family: Verdana Pro, Verdana, Open Sans, Roboto, Tahoma, sans-serif;
        font-size: 15px;
        line-height: 1.6;

        font-weight: normal;

        a {
            color: magenta;
        }
    }

    .wp-block-post-title {
        font-size: 2rem !important;
        line-height: 1.21 !important;
    }

    h2.wp-block-heading {
        border-bottom: 1px solid;
        text-transform: uppercase;
    }

    h3.wp-block-heading {
        font-size: 1.3125rem;
    }

    .wp-block-list {
        padding-left: var(--global--spacing-horizontal);
        padding-right: var(--global--spacing-horizontal);
    }

    .draft {
        opacity: 0.5;
        position: relative;

        &::before {
            color: magenta;
            content: 'Delete?';
            left: calc(100% + 1em);
            line-height: 1;
            position: absolute;
            top: 50%;
            translate: 0 -50%;
        }
    }
}
