html:root {
    --bgMain: #1f1b25;
    --global--color-primary: #f7f7fd;
}

body {
    background-attachment: fixed;
    background-image: url('../img/p1.webp');
}

/* Just trying to make sure these don't affect line heights. */
p :is(sup, sub) {
    display: inline !important;
    font-size: 75% !important;
    line-height: 1 !important;
    padding: 0 !important;
    position: relative !important;

    a {
        line-height: 0 !important;
    }
}

p sup {
    top: 0 !important;
    vertical-align: top !important;
    vertical-align: super !important;
}

p sub {
    bottom: 0 !important;
    vertical-align: bottom !important;
    vertical-align: sub !important;
}

form {
    button,
    input[type="submit"] {
        border-color: magenta;
    }

    fieldset {
        border: 0;
        margin: 1rem 0;
        padding: 0;

        &:has(input[type="radio"]) {
            display: block;

            label {
                display: inline;
                margin: 0 1em 0 0;
            }
        }
    }
}

s {
    opacity: 0.69;
}

del {
    background-color: #e6999966;
    color: inherit;
    text-decoration: none;
}

ins,
mark {
    background-color: #99e69966;
    color: inherit;
    text-decoration: none;
}

picture {
    display: block;
}

.alignmid {
    @media (min-width: 100ch) {
        max-width: 96ch !important;
    }
}

.false-list-item {
    position: relative;

    &::before {
        color: magenta;
        content: '❦  ';
        left: -1.5em;
        position: absolute;
    }
}

ol.long,
ul.long {
    li+li {
        margin-top: 1rem;
    }
}

ol.nowrap,
ul.nowrap {
    >li {
        white-space: nowrap;
    }
}

p.note {
    background: rgba(102, 102, 140, 0.2);
    padding: 1em;
    padding-top: 0.9em;
    position: relative;

    &::before {
        @media (min-width: 768px) {
            content: '\1f4dd';
            font-size: 2em;
        }

        left: -2em;
        position: absolute;
    }

    &.tldr {
        &::before {
            @media (min-width: 768px) {
                content: '\1f9a5';
            }
        }
    }

    &.update {
        &::before {
            @media (min-width: 768px) {
                content: '\231a';
            }
        }
    }
}

.text-align-left {
    text-align: left;
}

.too-tall-bro {
    max-height: 360px;
}

.wait {
    cursor: wait;
}

#wpadminbar {
    border-bottom: 1px solid magenta;
}

#page {
    position: relative;

    /*
       It's quite annoying trying to override all the various font-related stuff
       the base theme does. Let's try this method instead.
    */
    :not(code, code span) {
        font-family: Verdana Pro, Verdana, Open Sans, Roboto, Tahoma, sans-serif;
        font-size: 0.9375rem;
        font-weight: normal;
        line-height: 1.6;
    }

    &::before {
        background: fixed #000 url('../img/PIA19048-40.jpg') no-repeat 0 0 / cover;
        height: 100%;
        inset: 0;
        opacity: 0.025;
        pointer-events: none;
        position: absolute;
        width: 100%;

        @media (min-width: 768px) {
            content: '';
        }
    }

    .page-header {
        border: 0;
        padding: 0;
        text-align: center;
    }

    a {
        color: magenta;
        /* transition: color 0.15s ease-in-out; */

        &:hover {
            color: #fa0;
            text-decoration: none;
        }

        &:focus {
            background: transparent;
        }
    }

    strong {
        font-weight: bold !important;
    }

    blockquote {
        border-left: 2px solid magenta;
        background-color: #0003;
        padding: 1em;
        padding-top: 0.9em;

        &::before {
            display: none;
        }

        p {
            opacity: 0.80;
        }

        + p.caption,
        + p.cite {
            margin-top: calc(-1 * var(--global--spacing-unit));
        }
    }

    code {
        font-family: Consolas, 'SF Mono', Inconsolata, Monaco, monospace;
    }
}

#primary {
    overflow-x: hidden;

    p.caption,
    p.cite,
    figcaption {
        font-size: 0.8125rem !important;
        margin-bottom: 0;
        margin-top: calc(0.5 * var(--global--spacing-unit));
        opacity: 0.69;
        text-align: center !important;

        > * {
            font-size: 0.8125rem;
        }
    }

    hr {
        border-color: magenta;
        margin-bottom: calc(var(--global--spacing-vertical) * 1.5);
        margin-top: calc(var(--global--spacing-vertical) * 1.5);
        min-width: 150px;
        position: relative;

        &::before,
        &::after {
            color: magenta;
            position: absolute;
            top: -0.7em;
        }

        &::before {
            content: '❦  ';
            left: -1.5em;
        }

        &::after {
            content: '  ❦';
            right: -1.5em;
        }
    }

    img {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
    }

    ul,
    ol {
        ::marker {
            color: magenta;
        }
    }

        ul {
            list-style-type: '❦  ';
        }

    :is(p, ul, ol) {
        hyphens: auto;
        text-wrap: pretty;

        &:not(.text-align-left) {
            @media (min-width: 768px) {
                text-align: justify;
            }
        }
    }

    :is(p, ul, ol, td) {
        code,
        kbd {
            background-color: color-mix(in srgb, currentColor 20%, transparent);
            color: var(--wp--preset--color--pale-cyan-blue);
            padding-left: 0.25em;
            padding-right: 0.25em;
            position: relative;
            /* white-space: nowrap; */
        }
    }

    .wp-block-file {
        text-align: center;

        a {
            margin-left: 0;
        }

        a[id] {
            display: none;
        }
    }

    .wp-block-list {
        padding-left: calc(var(--global--spacing-horizontal) + 17px);
        padding-right: calc(var(--global--spacing-horizontal) + 17px);
    }

    .twitter-tweet {
        margin: 0 auto !important;
    }

    .code-toolbar {
        pre {
            background-color: #0003;
            scrollbar-color: #f0f6 #0003;
            scrollbar-width: thin;
        }

        &:has(.alignmid) {
            max-width: 96ch;
        }

        &:has(+ p.caption) {
            margin-bottom: 0;
        }

        .php-wrapper {
            margin-top: -3.5em;
        }
    }
}

#announcement {
    background-color: #111;
    border-bottom: 3px solid magenta;
    padding: 0.5rem 1rem;
    text-align: center;

    a {
        text-decoration: none;
    }
}

.site-header {
    align-items: center;
}

.site-branding {
    margin-top: 0;

    @media (min-width: 768px) {
        max-width: 50%;
    }

    @media (min-width: 1337px) {
        max-width: 35%;
    }

    .site-title {
        background-color: magenta;
        color: var(--bgMain);
        padding: 0.125em 0.5em;
        position: relative;
        text-transform: uppercase;

        &::after {
            background-color: magenta;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            mix-blend-mode: difference;
            position: absolute;
            top: 0;
            width: 0;
            width: var(--afterWidth); /* Set by JS on parent. */
        }

        a {
            color: var(--bgMain) !important;
            display: block;
            text-decoration: none;
        }
    }

    .site-description {
        display: none;

        @media (min-width: 440px) {
            display: block;
        }

        @media (min-width: 768px) {
            text-align: justify;
        }
    }
}

#site-navigation {
    --primary-nav--border-color: magenta;

    .menu-item {
        background-color: transparent;

        a:not([href]) {
            color: var(--global--color-primary);
            pointer-events: none;
        }
    }

    .sub-menu-toggle {
        height: auto;
        margin-left: -1em;
    }

    .sub-menu {
        background-color: #0003;

        a {
            padding: var(--primary-nav--padding);
        }
    }
}

.content-area {
    article {
        position: relative;
    }

    .entry-footer {
        border-bottom: 0 !important;
        padding-bottom: 0 !important;

        .edit-link {
            display: none;
        }
    }
}

.entry-header {
    max-width: var(--responsive--aligndefault-width);

    &.alignwide {
        max-width: var(--responsive--aligndefault-width);
    }
}

.entry-title {
    margin-bottom: 0;

    #page & {
        background-color: magenta;
        color: var(--bgMain);
        font-size: 1.5rem;
        letter-spacing: -0.05em;
        line-height: 1.21;
        padding: 0.125em 0.5em;

        @media (min-width: 768px) {
            font-size: 1.6875rem;
        }

        a {
            color: var(--bgMain);
            display: block;
            font-size: 1.5rem;
            line-height: 1.21;
            text-decoration: none;

            @media (min-width: 768px) {
                font-size: 1.6875rem;
            }
        }
    }
}

.entry-content {
    #page & {
        h2 {
            font-size: 1.3125rem;
            position: relative;
            text-transform: uppercase;

            &::before {
                color: magenta;
                content: '❦  ';
                left: -1.25em;
                position: absolute;
            }
        }

        h3 {
            font-size: 1.15rem;
            text-transform: uppercase;
        }
    }
}

.singular {
    .entry-header {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .has-post-thumbnail {
        .entry-header {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            padding-bottom: 0;

            .post-thumbnail {
                margin: 0 0 var(--global--spacing-vertical) 0;
                order: -1;

                img {
                    margin: 0 auto;
                }
            }
        }
    }

    .entry-footer {
        border-top-width: 1px !important;
        display: block !important;
        text-align: right;

        .byline {
            display: none !important;
        }
    }
}

/* Not sure what the base theme was trying to accomplish with this nonsense. */
.entry-content>[class="wp-block-image"]+* {
    margin-top: calc(0.666 * var(--global--spacing-vertical));

    @media (min-width: 482px) {
        margin-top: var(--global--spacing-vertical);
    }
}

.pagination {
    border-top: 0;
}

#colophon {
    margin-top: var(--global--spacing-vertical);

    &:has(.footer-navigation) {
        .footer-navigation {
            border-top: 1px solid;
            margin-bottom: 0;
            padding-top: var(--global--spacing-vertical);
        }

        .site-info {
            border-top: 0;
            margin-top: 0;
        }
    }

    .site-info {
        border-top-width: 1px;
        position: relative;
        text-align: center;

        &:hover {
            &::before {
                transform: rotateY(180deg);
            }
        }

        &::before {
            content: '#eidnind';
            right: 50%;
            translate: 50% 0;
            transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

            @media (min-width: 900px) {
                position: absolute;
            }
        }

        &::after {
            content: 'Copyright Forever by Default';
            right: 0;

            @media (min-width: 900px) {
                position: absolute;
            }
        }

        .powered-by {
            display: none;
        }
    }
}

.tooltip {
    background-color: #111;
    border: 1px solid magenta;
    display: none;
    max-width: var(--responsive--aligndefault-width);
    min-height: 100px;
    padding: 1rem;
    position: absolute;

    &.show {
        display: block;
    }

    .title {
        border-bottom: 1px solid;
        margin-bottom: 1rem;
    }

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    img,
    video {
        display: block;
        width: 100%;
    }
}

#comments {
    &::before {
        content: 'Hover or tap here if you wish to leave a comment.';
        display: block;
    }

    &.show,
    &:hover {
        #respond {
            display: block;
        }
    }

    &.show {
        &:before {
            color: transparent;
        }
    }

    #respond {
        display: none;
    }

    #reply-title,
    .required-field-message,
    label[for="comment"] {
        display: none;
    }
}

[popover] {
    background-color: transparent;
    border: 0;
    color: #fff;
    max-width: 50rem;
    padding: 0;
    position: fixed;

    &:popover-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &::after {
        content: '×';
        cursor: pointer;
        inset: 1rem 1rem auto auto;
        font-size: 2rem;
        line-height: 1ex;
        position: fixed;
        z-index: 420;
    }

    img {
        display: block;
        margin: 0 auto 1rem;
    }

    h3 {
        display: inline;

        &::after {
            content: ' \2014 ';
        }

        +p {
            display: inline;
        }
    }

    &::backdrop {
        backdrop-filter: blur(5px) brightness(0.5);
    }
}
